/* Global Layout Set-up */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* ================================= 
  Base Element Styles
==================================== */
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 100vw;
    color: black;
    background-color: rgb(252, 252, 252);
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    color:grey;
    padding: 5px 0;
    width: 80%;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

fieldset {
    display: flex;
    flex-direction: column;
    width:100%;
    margin: auto;
}

.combo {
    display: flex;
    flex-direction: column;    
}

h1 {
    background-color: rgb(42, 42, 61);
    color:white;
    margin: 0;
    padding: 30px 0;
    text-transform: uppercase;
    font-size: 1.5rem;
}

fieldset>h2 {
    font-size: 1.2rem;
}

footer {
    text-align: center;
    padding: 20px 0;
    color:rgb(160, 160, 160);
    font-style: italic;
}

fieldset {
    border: none;
}

fieldset p {
    margin: 3px;
}

label {
    margin: 10px 0;
    }

input {
    background-color: rgb(237, 237, 237);
    height: 2.5rem;
    border:none;
    border-radius: 3px;
}

textarea {
    background-color: rgb(237, 237, 237);
    height: 5rem;
    border:none;
    margin-top: 10px;
    width: 100%;
}

button {
    color: white;
    background-color:rgb(123, 196, 172);
    height: 3.5rem;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 10px;
}

::placeholder {
    text-align: right;
    padding-right: 10px;
    font-size: .8rem;
    font-style: italic;
}


select {
    border: none;
    color: gray;
    background-color: rgb(237, 237, 237);
    padding: 10px;
    margin: 5px 0;
    height:2.5rem;
}

#zip {
    width: 50%;
}

input[type="checkbox"], input[type="radio"] {
    height: 1rem;
    margin-right: 5px;
}

hr {
    width: 80vw;
    margin:auto;
}

.combo2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}

input:focus, textarea:focus, select:focus {
    background: aquamarine;
}

#newslettersection {
    background: rgb(170, 153, 40);
}

@media (min-width: 768px) {

.combo {
    display: flex;
    flex-direction: row;
    margin: 5px;
  }

  .combo label{
    width:20%;
  }

  .combo input{
    width:80%;
  }
}